In [18]:
# 1️⃣ What is Pandas?
# Pandas is a Python library for working with structured data — like tables in Excel or SQL.

# Series → 1D labeled array (like a column in Excel)

# DataFrame → 2D table (rows & columns, like a spreadsheet)

# Create a Pandas DataFrame from your Day 2 random_50_num results with these columns:

# Number → the random number itself

# EvenOrOdd → “Even” or “Odd”

# Category →

# "Even>200" if even and > 200

# "Odd<50" if odd and < 50

# "Other" otherwise

# Save this DataFrame to /home/conda/AI-ML/day3_dataframe.csv (so it appears in F:/2025/AI-ML).

# Load the saved CSV back into a DataFrame and:

# Find the top 5 largest numbers.

# Compute the average for each category.

# Bonus: Sort the DataFrame by Number in descending order and save again as day3_sorted.csv.

# creating a dataframe 

import pandas as pd

# from a dictionary 
data = {
    "Name" : ["Alice", "Bob", "Charlie"],
    "Age": [25, 32, 29]
}

df = pd.DataFrame(data)

print(df)

# adding columns

df["Country"] = ["India", "USA", "UK"]
print("-----------------Country------------------")
print()
print(df)

# conditions in pandas

# can create new column based on conditions

df["AgeGroup"] = ["Young" if age < 30 else "Adult" for age in df["Age"]]

print("-----------------AgeGroup------------------")
print()
print(df)
# or

df["EvenOrOdd"] = df["Age"].apply(lambda x: "Even" if x % 2 == 0 else "Odd")

print("-----------------EvenOrOdd------------------")
print()
print(df)


# saving and Loading CSV

df.to_csv("my_data.csv", index=False) # save

new_def = pd.read_csv("my_data.csv") # load

sorted_Values = df.sort_values(by="Age", ascending=False, inplace=True)
print("-----------------sorted_Values------------------")
print()
print(df)

top5 = df.nlargest(5, "Age")
print("-----------------Top 5------------------")
print()
print(top5)

avg_per_group = df.groupby("AgeGroup")["Age"].mean()
print("-----------------avg_per_group------------------")
print()
print(avg_per_group)

      Name  Age
0    Alice   25
1      Bob   32
2  Charlie   29
-----------------Country------------------

      Name  Age Country
0    Alice   25   India
1      Bob   32     USA
2  Charlie   29      UK
-----------------AgeGroup------------------

      Name  Age Country AgeGroup
0    Alice   25   India    Young
1      Bob   32     USA    Adult
2  Charlie   29      UK    Young
-----------------EvenOrOdd------------------

      Name  Age Country AgeGroup EvenOrOdd
0    Alice   25   India    Young       Odd
1      Bob   32     USA    Adult      Even
2  Charlie   29      UK    Young       Odd
-----------------sorted_Values------------------

      Name  Age Country AgeGroup EvenOrOdd
1      Bob   32     USA    Adult      Even
2  Charlie   29      UK    Young       Odd
0    Alice   25   India    Young       Odd
-----------------Top 5------------------

      Name  Age Country AgeGroup EvenOrOdd
1      Bob   32     USA    Adult      Even
2  Charlie   29      UK    Young       Odd
0    Alice   25   India    Young       Odd
-----------------avg_per_group------------------

AgeGroup
Adult    32.0
Young    27.0
Name: Age, dtype: float64

In [22]:
# Your Day 3 Task (Now you know the theory)
# Using Day 2’s random_50_num list:

# Create a DataFrame with:

# Number

# EvenOrOdd (using .apply() or list comprehension)

# Category (based on conditions: "Even>200", "Odd<50", "Other")

# Save to /home/conda/AI-ML/day3_dataframe.csv

# Load it again and:

# Find top 5 largest numbers

# Find average for each category using .groupby()

# Sort by Number (descending) and save as day3_sorted.csv

import numpy as np
import pandas as pd

random_50_num = np.random.randint(10, 501, size=50)

print("----------------------random_50_num----------------------")
print()
print(random_50_num)

df = pd.DataFrame({
    "Number": random_50_num
})
print("----------------------Data Frame----------------------")
print()
print(df)

df["EvenorOdd"] = df["Number"].apply(lambda x: "Even" if x % 2 == 0 else "Odd")
print("----------------------EvenorOdd----------------------")
print()
print(df)

df["Category"] = ["Even>200" if number>200 else "Odd<50" if number<50 else "Other" for number in df["Number"]]
print("----------------------Category----------------------")
print()
print(df)

df.to_csv("/home/conda/AI-ML/day3_dataframe.csv", index=False) # save

new_def = pd.read_csv("/home/conda/AI-ML/day3_dataframe.csv") # load

top_5_largest = df.nlargest(5, "Number")
print("----------------------top_5_largest----------------------")
print()
print(top_5_largest)


avg_per_cat = df.groupby("Category")["Number"].mean()
print("----------------------avg_per_cat----------------------")
print()
print(avg_per_cat)

descending_sort_order = df.sort_values(by="Number", ascending=False, inplace=False)
print("----------------------descending_sort_order----------------------")
print()
print(descending_sort_order)

# sorderd_df = pd.DataFrame(descending_sort_order)

descending_sort_order.to_csv("/home/conda/AI-ML/day3_sorted.csv", index=False) # save

----------------------random_50_num----------------------

[315 416  82 122 267 158 135 101  75  18 469 132 474 373 429 476  64 167
 393 353 145 337 409 231 451 165 465 323 347 157 312  11 130 477  31 316
 387 429 225 422 279 180 480  49 141 114 165 127 175 456]
----------------------Data Frame----------------------

    Number
0      315
1      416
2       82
3      122
4      267
5      158
6      135
7      101
8       75
9       18
10     469
11     132
12     474
13     373
14     429
15     476
16      64
17     167
18     393
19     353
20     145
21     337
22     409
23     231
24     451
25     165
26     465
27     323
28     347
29     157
30     312
31      11
32     130
33     477
34      31
35     316
36     387
37     429
38     225
39     422
40     279
41     180
42     480
43      49
44     141
45     114
46     165
47     127
48     175
49     456
----------------------EvenorOdd----------------------

    Number EvenorOdd
0      315       Odd
1      416      Even
2       82      Even
3      122      Even
4      267       Odd
5      158      Even
6      135       Odd
7      101       Odd
8       75       Odd
9       18      Even
10     469       Odd
11     132      Even
12     474      Even
13     373       Odd
14     429       Odd
15     476      Even
16      64      Even
17     167       Odd
18     393       Odd
19     353       Odd
20     145       Odd
21     337       Odd
22     409       Odd
23     231       Odd
24     451       Odd
25     165       Odd
26     465       Odd
27     323       Odd
28     347       Odd
29     157       Odd
30     312      Even
31      11       Odd
32     130      Even
33     477       Odd
34      31       Odd
35     316      Even
36     387       Odd
37     429       Odd
38     225       Odd
39     422      Even
40     279       Odd
41     180      Even
42     480      Even
43      49       Odd
44     141       Odd
45     114      Even
46     165       Odd
47     127       Odd
48     175       Odd
49     456      Even
----------------------Category----------------------

    Number EvenorOdd  Category
0      315       Odd  Even>200
1      416      Even  Even>200
2       82      Even     Other
3      122      Even     Other
4      267       Odd  Even>200
5      158      Even     Other
6      135       Odd     Other
7      101       Odd     Other
8       75       Odd     Other
9       18      Even    Odd<50
10     469       Odd  Even>200
11     132      Even     Other
12     474      Even  Even>200
13     373       Odd  Even>200
14     429       Odd  Even>200
15     476      Even  Even>200
16      64      Even     Other
17     167       Odd     Other
18     393       Odd  Even>200
19     353       Odd  Even>200
20     145       Odd     Other
21     337       Odd  Even>200
22     409       Odd  Even>200
23     231       Odd  Even>200
24     451       Odd  Even>200
25     165       Odd     Other
26     465       Odd  Even>200
27     323       Odd  Even>200
28     347       Odd  Even>200
29     157       Odd     Other
30     312      Even  Even>200
31      11       Odd    Odd<50
32     130      Even     Other
33     477       Odd  Even>200
34      31       Odd    Odd<50
35     316      Even  Even>200
36     387       Odd  Even>200
37     429       Odd  Even>200
38     225       Odd  Even>200
39     422      Even  Even>200
40     279       Odd  Even>200
41     180      Even     Other
42     480      Even  Even>200
43      49       Odd    Odd<50
44     141       Odd     Other
45     114      Even     Other
46     165       Odd     Other
47     127       Odd     Other
48     175       Odd     Other
49     456      Even  Even>200
----------------------top_5_largest----------------------

    Number EvenorOdd  Category
42     480      Even  Even>200
33     477       Odd  Even>200
15     476      Even  Even>200
12     474      Even  Even>200
10     469       Odd  Even>200
----------------------avg_per_cat----------------------

Category
Even>200    381.888889
Odd<50       27.250000
Other       133.421053
Name: Number, dtype: float64
----------------------descending_sort_order----------------------

    Number EvenorOdd  Category
42     480      Even  Even>200
33     477       Odd  Even>200
15     476      Even  Even>200
12     474      Even  Even>200
10     469       Odd  Even>200
26     465       Odd  Even>200
49     456      Even  Even>200
24     451       Odd  Even>200
37     429       Odd  Even>200
14     429       Odd  Even>200
39     422      Even  Even>200
1      416      Even  Even>200
22     409       Odd  Even>200
18     393       Odd  Even>200
36     387       Odd  Even>200
13     373       Odd  Even>200
19     353       Odd  Even>200
28     347       Odd  Even>200
21     337       Odd  Even>200
27     323       Odd  Even>200
35     316      Even  Even>200
0      315       Odd  Even>200
30     312      Even  Even>200
40     279       Odd  Even>200
4      267       Odd  Even>200
23     231       Odd  Even>200
38     225       Odd  Even>200
41     180      Even     Other
48     175       Odd     Other
17     167       Odd     Other
25     165       Odd     Other
46     165       Odd     Other
5      158      Even     Other
29     157       Odd     Other
20     145       Odd     Other
44     141       Odd     Other
6      135       Odd     Other
11     132      Even     Other
32     130      Even     Other
47     127       Odd     Other
3      122      Even     Other
45     114      Even     Other
7      101       Odd     Other
2       82      Even     Other
8       75       Odd     Other
16      64      Even     Other
43      49       Odd    Odd<50
34      31       Odd    Odd<50
9       18      Even    Odd<50
31      11       Odd    Odd<50

In [23]:
# improved version 
import numpy as np
import pandas as pd

# 1️⃣ Generate 50 random integers between 10 and 500
df = pd.DataFrame({
    "Number": np.random.randint(10, 501, size=50)
})

print("\n----------------------Original Data----------------------")
print(df)

# 2️⃣ Even or Odd column
df["EvenorOdd"] = np.where(df["Number"] % 2 == 0, "Even", "Odd")

# 3️⃣ Category column
df["Category"] = np.select(
    [
        (df["Number"] > 200) & (df["Number"] % 2 == 0),
        df["Number"] < 50
    ],
    [
        "Even>200",
        "Odd<50"
    ],
    default="Other"
)

print("\n----------------------With EvenorOdd & Category----------------------")
print(df)

# 4️⃣ Save to CSV
df.to_csv("/home/conda/AI-ML/day3_dataframe.csv", index=False)

# 5️⃣ Top 5 largest numbers
top_5_largest = df.nlargest(5, "Number")
print("\n----------------------Top 5 Largest----------------------")
print(top_5_largest)

# 6️⃣ Average per category
avg_per_cat = df.groupby("Category", as_index=False)["Number"].mean()
print("\n----------------------Average per Category----------------------")
print(avg_per_cat)

# 7️⃣ Sort in descending order
descending_sort_order = df.sort_values(by="Number", ascending=False)
print("\n----------------------Descending Sort----------------------")
print(descending_sort_order)

# Save sorted data
descending_sort_order.to_csv("/home/conda/AI-ML/day3_sorted.csv", index=False)

----------------------Original Data----------------------
    Number
0       48
1      193
2      402
3      414
4      316
5      121
6      107
7      378
8      265
9      152
10     376
11     275
12     322
13     330
14     382
15     398
16     150
17      13
18     226
19      11
20      54
21     471
22     367
23     463
24     359
25     253
26     445
27     213
28     265
29     328
30      65
31     115
32     425
33      66
34     333
35     490
36     126
37     196
38     442
39     487
40     386
41     130
42     371
43     185
44     384
45     250
46     211
47     496
48     457
49     451

----------------------With EvenorOdd & Category----------------------
    Number EvenorOdd  Category
0       48      Even    Odd<50
1      193       Odd     Other
2      402      Even  Even>200
3      414      Even  Even>200
4      316      Even  Even>200
5      121       Odd     Other
6      107       Odd     Other
7      378      Even  Even>200
8      265       Odd     Other
9      152      Even     Other
10     376      Even  Even>200
11     275       Odd     Other
12     322      Even  Even>200
13     330      Even  Even>200
14     382      Even  Even>200
15     398      Even  Even>200
16     150      Even     Other
17      13       Odd    Odd<50
18     226      Even  Even>200
19      11       Odd    Odd<50
20      54      Even     Other
21     471       Odd     Other
22     367       Odd     Other
23     463       Odd     Other
24     359       Odd     Other
25     253       Odd     Other
26     445       Odd     Other
27     213       Odd     Other
28     265       Odd     Other
29     328      Even  Even>200
30      65       Odd     Other
31     115       Odd     Other
32     425       Odd     Other
33      66      Even     Other
34     333       Odd     Other
35     490      Even  Even>200
36     126      Even     Other
37     196      Even     Other
38     442      Even  Even>200
39     487       Odd     Other
40     386      Even  Even>200
41     130      Even     Other
42     371       Odd     Other
43     185       Odd     Other
44     384      Even  Even>200
45     250      Even  Even>200
46     211       Odd     Other
47     496      Even  Even>200
48     457       Odd     Other
49     451       Odd     Other

----------------------Top 5 Largest----------------------
    Number EvenorOdd  Category
47     496      Even  Even>200
35     490      Even  Even>200
39     487       Odd     Other
21     471       Odd     Other
23     463       Odd     Other

----------------------Average per Category----------------------
   Category      Number
0  Even>200  371.764706
1    Odd<50   24.000000
2     Other  259.033333

----------------------Descending Sort----------------------
    Number EvenorOdd  Category
47     496      Even  Even>200
35     490      Even  Even>200
39     487       Odd     Other
21     471       Odd     Other
23     463       Odd     Other
48     457       Odd     Other
49     451       Odd     Other
26     445       Odd     Other
38     442      Even  Even>200
32     425       Odd     Other
3      414      Even  Even>200
2      402      Even  Even>200
15     398      Even  Even>200
40     386      Even  Even>200
44     384      Even  Even>200
14     382      Even  Even>200
7      378      Even  Even>200
10     376      Even  Even>200
42     371       Odd     Other
22     367       Odd     Other
24     359       Odd     Other
34     333       Odd     Other
13     330      Even  Even>200
29     328      Even  Even>200
12     322      Even  Even>200
4      316      Even  Even>200
11     275       Odd     Other
8      265       Odd     Other
28     265       Odd     Other
25     253       Odd     Other
45     250      Even  Even>200
18     226      Even  Even>200
27     213       Odd     Other
46     211       Odd     Other
37     196      Even     Other
1      193       Odd     Other
43     185       Odd     Other
9      152      Even     Other
16     150      Even     Other
41     130      Even     Other
36     126      Even     Other
5      121       Odd     Other
31     115       Odd     Other
6      107       Odd     Other
33      66      Even     Other
30      65       Odd     Other
20      54      Even     Other
0       48      Even    Odd<50
17      13       Odd    Odd<50
19      11       Odd    Odd<50